.logoSection {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0 25px;
}

.logoWrapper {
  width: 438px;
  height: 182px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.logoImage {
  height: auto;
  width: 100%;
}

.heroSection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.heroWrapper {
  width: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.heroImageWrapper {
  position: relative;
  width: 100%;
  height: 440px;
}

.heroImage {
  object-fit: cover;
}

.heroTextOverlay {
  position: absolute;
  top: 35px;
  width: 100%;
  text-align: center;
  pointer-events: none;
  line-height: 70px;
}

.heroTitle {
  font-size: 56px;
  font-weight: 200;
  color: #484645;
  text-transform: uppercase;
  white-space: pre-line;
}

@media (max-width: 768px) {
  .heroImageWrapper {
    height: 260px;
  }

  .heroTitle {
    font-size: 6vw;
    line-height: 1.3;
  }

  .heroSection {
    margin-top: 0;
  }

  .logoSection {
    padding: 10px 0 0;
  }
}
