/* globals.css */
:root {
  --page-max-width: 1440px;
  --page-padding-inline: 15px;
  --color-primary: #F5F5F5;
  --color-secondary: #ED99AA;
  --color-accent: #D18A8A;
  --color-background: #FDF9F9;
  --color-background-main: #FFFFFF;
  --color-text-primary: #171717;
  --color-text-secondary: #525252;
  --color-btn-primary: #D18A8A;
  --color-btn-secondary: #D4D4D4;
  --color-btn-hover: #C56B33;
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-jost), sans-serif;
}

.container {
  max-width: var(--page-max-width);
  margin-inline: auto;
  padding-inline: var(--page-padding-inline);
  width: 100%;
}